{
  "env": {
    "browser": true,
    "es6": true,
    "amd": true
    // amd: define()とrequire()
  },

  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/react"
  ],

  "rules": {
    "indent": [
      "error",
      2
    ],

    "prettier/prettier": [
      "error",
      {
        "tabWidth": 2,
        "singleQuote": true,
        "trailingComma": "es5"
      }
    ]
  },

  "parserOptions": {
    "sourceType": "module"
  },

  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
