{
  "env": {
    "browser": true,
    "es6": true,
    "amd": true,
    "jquery": true
    // amd: define()とrequire()
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  // "plugins": [
  //   "@typescript-eslint"
  // ],
  "rules": {
    "indent": [
      "error",
      2
    ],
    // require文 warning
    "@typescript-eslint/no-var-requires": 1,
    // 変数の不使用はwarningに
    "no-unused-vars": 1,
    // 正規表現中のエスケープ。パスワードチェックの部分でerrorになってしまうのでwarningに設定。
    "no-useless-escape": 1,
    // bootstrap.jsがerrorにならないようにwarningに設定
    "no-empty": 1,
    // propsの未validation-> warning
    "react/prop-types": 1,
    "prettier/prettier": [
      "error",
      {
        "tabWidth": 2,
        "singleQuote": true,
        "trailingComma": "es5"
      }
    ]
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}