.table {
  background-color: white;

  thead {
    th {
      background-color: $green;
      color: white;
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: $hover_color;
      }
    }
  }
}

.delete-book-card {
  &:hover {
    cursor: pointer;

    .book-card {
      background-color:#FEE2E0 !important;
    }
  }

  // book-cardは要る？
  &[data-willdelete="true"] {
    .book-card {
      border: solid 3px var(--danger);
      background-color:#FEE2E0 !important;
    }
  }
}
