.table {
  background-color: white;

  thead {
    th {
      background-color: $green;
      color: white;
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: $hover_color;
      }
    }
  }
}