body {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 1.1rem;
  background-color: #ebf5e7;
  padding-top: 100px;
}
  
.container {
  max-width: 95%;
}

.navbar-brand {
  font-size: 1.6rem;
  color: white;

  &:hover {
      color: white;
  }
}

a {
  color: black;

  &:hover {
    color: black;
    text-decoration: none;
  }
}

.nav-item .nav-link {
  color: white;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media (min-width: $max_column_width) {
  #sub-column {
    position: fixed;
    width: 250px;
    height: 100%;
  }
  
  #main-column {
    margin-left: 300px;
  }

  #humburger {
    display: none;
  }
}

@media (max-width: $max_column_width) {
  #sub-column {
    display: none;
  }
}

input {
  font-size: 1.2rem;
}