.user-card {
  background-color: white;
  
  .user-id {
    color: #666666;
  }
}

.card-body-wrapper {
  margin-left: 20px;
}

#user-image-label {
  width: 100%;

  #user-image-input {
    display: none;
  }
}
