// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$max_column_width: 900px;
$hover_color: #eef5eb;
$background_color: #eef5eb;

// font-size
:root {
    --base_font_size: 18px;
    --icon_width: 24px;
}

@media(max-width: 1100px) {
    :root {
        --base_font_size: 16px;
        --icon_width: 20px;
    }
}

@media(max-width: 700px) {
    :root {
        --base_font_size: 14px;
        --icon_width: 16px;
    }
}