body {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 1.1rem;
  background-color: white;
  padding-top: 100px;
}

.container {
  max-width: 95%;
}

.navbar-brand {
  font-size: 1.6rem;
  color: white;
}

.navbar-brand:hover {
  color: white;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

.nav-item .nav-link {
  color: white;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.sub-column {
  position: fixed;
  width: 250px;
  height: 100%;
}

.ml-300 {
  margin-left: 300px;
}

input {
  font-size: 1.2rem;
}

.one-row {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.invalid {
  opacity: 0.5;
}

.error {
  color: red;
}

/* TODO: あとでブラウザ依存確認しとく */
.disable {
  user-select: none;
}

label, input[type='checkbox'] {
  cursor: pointer;
}

label, input[type='radio'] {
  cursor: pointer;
}