.book-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em;
}

label, input[type='checkbox'] {
  cursor: pointer;
}

label, input[type='radio'] {
  cursor: pointer;
}